/*
=============== 
Global
===============
*/
html {
  scroll-behavior: smooth;
  font-size: 16px;
} 

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: hsl(209, 61%, 16%);
  background-color: hsl(0, 3%, 93%);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.95rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.8rem;
}
h2,h3, h4, h5, h6 {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

button {
  margin: 10px;
}

/* section */
.section {
  margin: 0 auto 2rem auto;
  max-width: 1170px ;
  justify-content: center;
}

@media (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
/*
=============== 
Navigation
===============
*/

nav{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background:  hsl(21, 27%, 73%);
}

.links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin: 10px;
}
.link:hover{
  color: hsl(21, 86%, 14%);
  text-decoration: underline;
  transition: all 0.5s ease;
}
.basket{
  text-decoration: none;
  color: black;
  height: 2rem;
  cursor: pointer;
}
.basket:hover, .basket:active{
  color:  hsl(21, 86%, 14%);
  scale: 1.4;
  text-shadow:  1px 0 15px #fff;
  transition: all 0.4s ease;
}

.logo:hover{
  text-decoration: none;
}

/*
=============== 
Shop section
===============
*/

.banner{
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1170px;
  margin-bottom: 2rem;
 }

.banner-image{ 
  background-size: cover;
  width: 100vw;
  max-width: 1170px;
  max-height: 90vh;
  margin-bottom: 0;
}
.banner-text{
  position: absolute;
  max-width: 500px;
  min-width: 250px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2rem;
  right: 2rem;
  left: 60%;
  top: 20%;
  color:#fff
}
.title {
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: hsl(209, 34%, 30%);
  text-shadow: 2px 3px 4px  hsl(21, 73%, 87%);
}


/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}
.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.filter_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter {
  background-color: hsl(21, 86%, 14%);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0.25rem;
}
.filter:hover{
  background-color:  hsl(21, 48%, 35%);
}
.col-md-3{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

/*==Product card==*/
.card{
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  background-color: #fff;
  width: 18rem;
}
.card:hover{
  transform: scale(1.05);
  background-color: rgba(251, 251, 251, 0.15);
}
.card-img-top{
  height: 60%;
  border-radius: 0.25rem 0.25rem 0 0;
  margin-bottom: 10px;
}
.btn-primary{
  background-color: hsl(21, 86%, 14%);
  color: #fff;
  border: none;
}
.btn-primary:hover, .btn-primary:active{
  background-color:  hsl(21, 48%, 35%);
}

/*
=============== 
Catering section
===============
*/
.addMeal{
  width: 100vw;
  max-width: 1170px;
  margin: 0 auto;
}

.addMealContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
  max-width: 1170px;
  min-width: 300px;
  min-height: 200px;
  padding: 0;
}

.addMealContainer video{
  max-width: 1170px;
  max-height: 1000px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  object-fit: cover;
  position: absolute;
  left:0;
  z-index: -5;
}

.searchTitle{
  margin-top: 3rem;
  position: relative;
  z-index: 0;
}

.searchMeal{
  display: flex;
  flex-direction: row;
}
.search{
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 12px 24px;
  background-color:  rgba(205, 181, 168, 0.6);
  line-height: 18px;
  color: hsl(21, 86%, 14%);
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0;
  box-shadow: inset 0px 0px 0px 4px rgba(205, 181, 168, 0.6);
  border-radius: 0.25rem;
}

.search::placeholder {
  color:hsl(20, 24%, 26%);
}

.search:hover{
  border:hsl(21, 88%, 9%) solid 2px;
  outline: none;
  background-color:  rgba(186, 163, 151, 0.6);
}

.search:focus{
  color:hsl(21, 88%, 9%);
  outline: none;
}

.mealCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.mealContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background: rgba(205, 181, 168, 0.5);
  color:hsl(21, 88%, 9%)
}

.mealLabel{
  font-weight: 800;
  letter-spacing: 1.5px;
  text-decoration: underline double;
  line-height: 2;
  text-shadow: 0 0 1px rgba(255,255,255,.5); 
}

ul {
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

li {
  display: block;
  margin: .1em auto;
  color: hsl(21, 88%, 9%);
}

.mealImg{
  width: 200px;
  border: hsl(21, 88%, 9%) solid 2px;
  border-radius: 0.25rem;
}

.calories{
 font-size: medium;
 color: hsl(21, 88%, 9%);
 text-decoration: underline;
 letter-spacing: 1.5px;
}

/*MealCard Slider*/

.review {
  margin-top: 3rem;
} 

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  min-height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid  hsl(21, 62%, 45%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.name{
  color: hsl(21, 62%, 45%);
  text-transform: uppercase;
}

.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: hsl(210, 22%, 49%);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: hsl(210, 22%, 49%);
}
.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: hsl(210, 22%, 49%);
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  background: hsl(21, 62%, 45%);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
/*
=============== 
About section
===============
*/
.about{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 300px;
  min-height: 500px;
  width: 100vw;
  padding: 0 auto;
  background-color: hsl(21, 86%, 14%);
}

.about-coffee{
  width: 100%;
  max-width: 1170px;
  min-width: 270px;
  min-height: 300px;
  opacity: .7;
}

.about-story{
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  min-height: 250px;
}

.about-title{
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:  hsl(21, 73%, 87%);
  text-shadow:  hsl(209, 34%, 30%) 2px 3px 4px ;
  margin: 0 auto;
  padding: 1rem;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-text{
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  padding: 5px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}


/*
=============== 
Review section
===============
/*Slider*/

.review {
  margin-top: 3rem;
} 

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  min-height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid  hsl(21, 62%, 45%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.name{
  color: hsl(21, 62%, 45%);
  text-transform: uppercase;
}

.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: hsl(210, 22%, 49%);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: hsl(210, 22%, 49%);
}
.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: hsl(210, 22%, 49%);
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  background: hsl(21, 62%, 45%);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/*
==============
Footer
==============
*/

footer{
  display: flex;
  width: 100vw;
  min-height: 150px;
  justify-content: center;
  align-items: center;
  background:  hsl(21, 27%, 73%);
}

.footer-div{
  flex-direction: column;
  display: flex;
  width: 100vw;
}

.footer-links{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 3rem;
  margin: 0 2rem;
}

.footer-link{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.link{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin: 10px;
}
.link:hover{
  color: hsl(21, 86%, 14%);
  text-decoration: underline;
  transition: all 0.5s ease;
}

.copyright{
  display: flex;
  justify-content: center;
  border-top: 1px solid hsl(21, 27%, 27%);
  padding-top: 1rem;
  color:hsl(21, 27%, 27%);
}

/*
===================
Media
===================
*/
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1, h2, h3, h4 {
    line-height: 2;
  }
  .about-story{
    top: 12%;
    transition: all 0.7s ease;
  }
  .about-title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .about-text{
    font-size: 1.5rem;
  }
}

@media (max-width: 756px){
  nav{
    padding: 10px;
  }
  .cont {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    transition: all 0.4s ease;
  }
  .cont_buttons{
    display:flex;
    flex-direction: column;
    transition: all 0.4s ease;
  }
  .filter_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }
  .filter {
    background-color: hsl(21, 86%, 14%);
    color: #fff;
    padding: 2px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    width: 120px;
  }
  .basket{
    height: 1rem;
  }
  .about{
    min-height: 100px;
  }
 
}

@media (max-width: 680px){
  h1 {
    font-size: 2rem;
  }
  nav{
    padding: 10px auto;
  }
  .link{
    font-size: 12px;
  }
  .banner-text{
    font-size: 12px;
    min-width: 100px;
    left: 60%;
    letter-spacing: 1px;
    line-height: 1rem;
    right: .5rem;
    transition: all 0.4s ease;
  }
  .products{
    padding: 10px auto;
  }
  .col-md-3{
    margin: 5px auto;
  }
}
@media (max-width: 560px){
  .about-title{
    font-size: .9rem;
    margin-bottom: 7px;
    transition: all 0.4s ease;
  }
  .about-text{
    font-size: .7rem;
    transition: all 0.4s ease;
  }
}

@media (max-width: 450px){
  .logo{
    display: none;
  }
  nav{
    justify-content: space-around; 
    width: 100vw;
    padding: .5rem 1rem;
    transition: all 0.4s ease;
  }
}

@media(max-width: 350px){
  .link{
    font-size: 11px;
    margin: 0 10px 0 0;
  }
  .about-story{
    top: 5%;
    transition: all 0.4s ease;
  }
  .about-title{
    margin-bottom: 5px;
  }
}
